<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.proj.account.AccountDAO">
	<insert id="insert" parameterType="AccountDTO" useGeneratedKeys="true" 
		keyProperty="accountNumber">
		INSERT INTO account
			(id, password, name, email, phone, postcode, address, 
			address_detail)
		VALUES
			(#{id}, #{password}, #{name}, #{email}, #{phone}, #{postcode}, #{address},
			#{addressDetail})
	</insert>
	
	<insert id="insertAttach" parameterType="FileDTO">
		INSERT INTO attach
			(key_data, type, origin, saved)
		VALUES
			(#{keyData}, #{type}, #{origin}, #{saved})
	</insert>
	
	<select id="list" resultType="AccountDTO">
		SELECT account_number, id, name, email, phone, postcode, address, address_detail, admin
		FROM account
		WHERE active=1
	</select>
	
	<update id="updateAdmin">
		UPDATE account
		SET admin = #{admin}
		WHERE account_number = #{accountNumber}
	</update>
	
	<select id="login">
		SELECT account_number, id, name, admin
		FROM account
		WHERE active = 1 AND id = #{id} AND password = #{password}
	</select>
	
	<select id="detail" resultType="AccountDTO">
		SELECT account_number, id, name, email, phone, postcode, address, address_detail
		FROM account
		WHERE account_number = #{accountNumber}
	</select>
	
	<select id="detailProfile" parameterType="long" resultType="FileDTO">
		SELECT *
		FROM attach
		WHERE type = 1 AND key_data = #{keyData}
	</select>
	
	<update id="update" parameterType="AccountDTO">
		UPDATE account
		SET name = #{name}, 
			email = #{email}, 
			phone = #{phone}, 
			postcode = #{postcode}, 
			address = #{address}, 
			address_detail = #{addressDetail}
	</update>
	
	<update id="dropOut" parameterType="AccountDTO">
		UPDATE account
		SET active = 0
		WHERE account_number = #{accountNumber} AND password = #{password}
	</update>
</mapper>