<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.proj.account.AccountDAO">
	<insert id="insert" parameterType="AccountDTO">
		INSERT INTO account
			(id, password, name, email, phone, postcode, address, 
			address_detail)
		VALUES
			(#{id}, #{password}, #{name}, #{email}, #{phone}, #{postcode}, #{address},
			#{addressDetail})
	</insert>
	
	<select id="list" resultType="AccountDTO">
		SELECT number, id, name, email, phone, postcode, address, address_detail, admin
		FROM account
		WHERE active=1
	</select>
	
	<update id="updateAdmin">
		UPDATE account
		SET admin = #{admin}
		WHERE number = #{number}
	</update>
</mapper>