<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.proj.animal.AnimalDAO">
	<resultMap type="AnimalDTO" id="animalResultMap">
		<id property="number" column="number" />
		<result property="date" column="date" />
		<result property="name" column="name" />
		<result property="species" column="species" />
		<result property="breed" column="breed" />
		<result property="gender" column="gender" />
		<result property="weight" column="weight" />
		<result property="neutered" column="neutered" />
		<result property="status" column="status" />
		
		<association property="animalProfileDTO" javaType="AnimalProfileDTO">
			<result property="keyData" column="key_data" />
			<result property="type" column="type" />
			<result property="origin" column="origin" />
			<result property="saved" column="saved" />
		</association>
	</resultMap>
	
	<select id="selectAnimalList" resultMap="animalResultMap">
		SELECT
				*
		FROM animal A
		INNER JOIN attach T ON T.type = 2 AND A.number = T.key_data
	</select>

	<insert id="insertAnimal" parameterType="AnimalDTO" useGeneratedKeys="true" keyProperty="number">
		INSERT INTO animal
		VALUES (NULL, NOW(), #{name}, #{species}, #{breed}, #{gender}, #{weight}, #{neutered}, #{status})
	</insert>
	
	<insert id="insertAnimalAttach" parameterType="AnimalProfileDTO">
		INSERT INTO attach
		VALUES (NULL, #{keyData}, #{type}, #{origin}, #{saved})
	</insert>
</mapper>