<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.proj.like.LikeDAO">
	<resultMap type="ProductDTO" id="productResultMap">
		<id property="productNumber" column="product_number" />
		<result property="name" column="name" />
		<result property="category" column="category" />
		<result property="amount" column="amount" />
		<result property="price" column="price" />
		
		<association property="productImageDTO" javaType="ProductImageDTO">
			<id property="attachNumber" column="attach_number" />
			<result property="keyData" column="key_data" />
			<result property="type" column="type" />
			<result property="origin" column="origin" />
			<result property="saved" column="saved" />
		</association>
	</resultMap>
	
	<select id="selectLikeList" parameterType="map" resultMap="productResultMap">
		SELECT
				*
		FROM product P
		INNER JOIN attach A ON A.type = 3 AND P.product_number = A.key_data
		<where>
			P.product_number IN (
				SELECT
					product_number
				FROM likes
				<where>
					account_number = #{accountNumber}
				</where>
			)
			<if test="keyword != null and keyword != ''">
				P.name LIKE CONCAT('%', #{paging.keyword} ,'%')
			</if>
		</where>
		LIMIT #{paging.limitPageNo}, #{paging.numPerPage}
	</select>
	
	<select id="totalCount" parameterType="map">
		SELECT COUNT(product_number)
		FROM product P
		INNER JOIN attach A ON A.type = 3 AND P.product_number = A.key_data
		<where>
			P.product_number IN (
				SELECT
					product_number
				FROM likes
				<where>
					account_number = #{accountNumber}
				</where>
			)
			<if test="keyword != null and keyword != ''">
				P.name LIKE CONCAT('%', #{paging.keyword} ,'%')
			</if>
		</where>
	</select>
	
	<insert id="insertLike" parameterType="LikeDTO">
		INSERT INTO likes
		VALUES (#{accountNumber}, #{productNumber})
	</insert>
	
	<delete id="deleteLike" parameterType="LikeDTO">
		DELETE FROM likes
		<where>
			account_number = #{accountNumber} AND product_number = #{productNumber}
		</where>
	</delete>
</mapper>