<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.proj.product.ProductDAO">
	<insert id="insert" parameterType="ProductDTO">
		INSERT INTO product
			(name, category, amount, price)
		VALUES
			(#{name}, #{category}, #{amount}, #{price})
	</insert>
	
	<select id="list" parameterType="Paging" resultType="ProductDTO">
		SELECT *
		FROM product
		<if test="keyword != null and keyword != ''">
			<where>
				name LIKE CONCAT('%', #{keyword} ,'%')
			</where>
		</if>
		LIMIT #{limitPageNo}, #{numPerPage}
	</select>
	
	<select id="totalCount" parameterType="Paging">
		SELECT COUNT(product_number)
		FROM product
		<if test="keyword != null and keyword != ''">
			<where>
				name LIKE CONCAT('%', #{keyword} ,'%')
			</where>
		</if>
	</select>
	
	<select id="detail" parameterType="ProductDTO" resultType="ProductDTO">
		SELECT *
		FROM product
		WHERE product_number = #{productNumber}
	</select>
	
	<update id="update" parameterType="ProductDTO">
		UPDATE product
		SET name = #{name},
			category = #{category},
			amount = #{amount},
			price = #{price}
		WHERE product_number = #{productNumber}
	</update>
	
	
</mapper>