<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.proj.product.ProductDAO">
	<resultMap type="ProductDTO" id="productResultMap">
		<id property="productNumber" column="product_number" />
		<result property="name" column="name" />
		<result property="category" column="category" />
		<result property="amount" column="amount" />
		<result property="price" column="price" />
		
		<association property="productImageDTO" javaType="ProductImageDTO">
			<id property="attachNumber" column="attach_number" />
			<result property="keyData" column="key_data" />
			<result property="type" column="type" />
			<result property="origin" column="origin" />
			<result property="saved" column="saved" />
		</association>
	</resultMap>
	
	<select id="selectProduct" parameterType="ProductDTO" resultMap="productResultMap">
		SELECT
				*
		FROM product P
		INNER JOIN attach A ON A.type = 3 AND P.product_number = A.key_data
		<where>
			product_number = #{productNumber}
		</where>
	</select>
	
	<select id="selectProductList" resultMap="productResultMap">
		SELECT
				*
		FROM product P
		INNER JOIN attach A ON A.type = 3 AND P.product_number = A.key_data
	</select>
	
	<select id="selectProductImage" resultType="ProductImageDTO">
		SELECT
				*
		FROM attach
		<where>
			type = 3 AND key_data = #{productNumber}
		</where>
	</select>

	<insert id="insertProduct" parameterType="ProductDTO" useGeneratedKeys="true" keyProperty="productNumber">
		INSERT INTO product
		VALUES (NULL, #{name}, #{category}, #{amount}, #{price})
	</insert>
	
	<insert id="insertProductImage" parameterType="ProductImageDTO">
		INSERT INTO attach
		VALUES (NULL, #{keyData}, #{type}, #{origin}, #{saved})
	</insert>
	
	<update id="updateProduct" parameterType="ProductDTO">
		UPDATE product
		SET 
				name = #{name}
			, category = #{category}
			, amount = #{amount}
			, price = #{price}
		<where>
			product_number = #{productNumber}
		</where>
	</update>
	
	<update id="updateProductImage" parameterType="ProductImageDTO">
		UPDATE attach
		SET
				origin = #{origin}
			, saved = #{saved}
		<where>
			attach_number = #{attachNumber}
		</where>
	</update>
</mapper>